<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.UserInfo">
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>

    <select id="getUsers" resultMap="BaseResultMap">
        select * from user_info;
    </select>

    <select id="getUserById" resultMap="BaseResultMap">
        select * from user_info where open_id=#{openId};
    </select>

</mapper>